<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>{assigns[:page_title] || "Speckit Orchestrator Console"}</title>
    <link rel="stylesheet" href="/assets/console.css" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/ibm-plex-sans-400.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/ibm-plex-mono-400.woff2"
      crossorigin="anonymous"
    />
    <script defer src="/vendor/phoenix/phoenix.js">
    </script>
    <script defer src="/vendor/phoenix_live_view/phoenix_live_view.js">
    </script>
    <script defer src="/assets/app.js">
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
